        /*Links usados*/
        /*Cores  ==> https://www.colourlovers.com/palette/367239/the_shrike*/
        /*Titilos*/
        @import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
        /*Paragrafos*/
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
       
        :root{
            --cor-titulos: #95040B;
            --cor-paragrafos: #D9DADE;
            --cor-span-header: #0C0304;
        }
        h1, h2, h3{
            font-family: "Ga Maamli", sans-serif;
            font-weight: 400;
            font-style: normal;
            
        }
        p{
            font-family: "Roboto", serif;
            font-weight: 700;
            font-style: normal;   
        }
        header{
            width: 100%;
            height: 250px;
            background-color: var(--cor-titulos);
            color: var(--cor-paragrafos);
            text-align: center;
            box-shadow: 8px 2px 6px var(--cor-span-header);
        }
        header h1{
            padding: 15px;
            letter-spacing: 8px;
            font-size: 60px;
            text-shadow: 8px 2px 6px var(--cor-span-header);
        }
        header h1:hover{
            color: var(--cor-paragrafos);
            text-shadow: 3px 2px 6px var(--cor-titulos);
            transition: .8s;
        }
        header p{
            font-size: 22px;
            letter-spacing: 2px;
            text-shadow: 3px 2px 6px var(--cor-span-header);
        
        }

      header .barra-header{
        color: var(--cor-span-header);
      }

      header a{
        color: var(--cor-span-header);
        text-decoration: none;
        text-shadow: none;
      }
      header a:hover{
        color: var(--cor-paragrafos);
        text-shadow: 3px 2px 6px var(--cor-span-header);
        transition: .8s;
      }
      section .container{
        display: flex;
    
      }
    .container > div{
        margin: 20px;
        padding: 60px;
        font-size: 30px;
        color: var(--cor-span-header);
        text-align: center;
        box-shadow: 5px 3px 6px var(--cor-span-header);
        border-radius: 20px;
    
    }
    section > h2{
        width: 250px;
        height: 100%;
        text-align: center;
    }
    .container ul{
        list-style: none;
        display: flex;
        padding: 10px;
    }
    .container ul a{
        margin: 0  35px 0 25px;
        text-decoration: none;
        color: var(--cor-titulos);
    }
    .container a:hover{
        color: var(--cor-span-header);
      
        transition: .8s;
    }
    .chamada-acao{
        height: 350px;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        background-color: var(--cor-titulos);
        
    }
    .chamada-acao h2{
        padding-top: 65px;
        font-size: 100px;
        text-shadow: 3px 2px 6px var(--cor-paragrafos);
    }
    .chamada-acao p{
        padding-top: 50px;
        font-size: 70px;
        color: var(--cor-paragrafos);
        text-shadow: 3px 2px 6px var(--cor-span-header);
    }
    footer{
        width: 100%;
        height: 150px;
        margin-top: 5px;
      
        color: var(--cor-span-header);
        text-align: center;
        box-shadow: 8px 2px 6px var(--cor-span-header);
    }
    footer p{
        padding-top: 25px ;
        font-size: 35px;
    }
    footer a{
        text-decoration: none;
        color: var(--cor-titulos);
    }
    footer a:hover{
        color: var(--cor-span-header);
        text-decoration: underline;
    }

    @media screen and (max-width: 600px) {
        .container{
            display: flex;
            flex-direction: column;  
            }
            .container h2{
                font-size: 25px;
            }
            .chamada-acao p{
                font-size: 25px;
            }
    }